.footer{
    margin-bottom: 1rem;
    padding: 1rem 2.5rem;
    background: linear-gradient(135deg, rgba(54, 148, 207, 0.9), rgba(56, 54, 207, 0.2)); /*0.7*/
    box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 8px;
} 
.footer__section {
    height: 2rem;
    display: flex;
    align-items: center;
}
.footer__section > p {
    margin-left: 1rem;
    color: var(--white);
}
.footer__remark {
    color: var(--gray);
}
.footer__section--modify {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
}