.header{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1rem;
}
.header__logo {
    height: 3rem;
    width: 5rem;
    border-radius: var(--radius);
}
.header__title {
    width: 10rem;
    display: inline;
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 0 0 3px var(--white), 0 0 7px var(--white);
    color: var(--white);
}
.header__menu {
    width: 5rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}