.header{
    width: 100%;
    height: 30%;
    margin-bottom: 1rem;
    background-image: url('./fondo_header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    clip-path: polygon(100% 0, 100% 91%, 74% 100%, 0 91%, 0 0);
}
/* ////////////////////////////////////// */
.header__covert{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
    background-color: rgba(20, 20, 20, 0.8);
    outline: 2px solid red;
}
/* ////////////////////////////////////// */
.header__naver {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    width: 4rem;
    height: 2rem;
    border-radius: var(--radius);
}
.header__menu {
    width: 4.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sky);
}
/* ////////////////////////////////////// */
.header__title {
    width: 80%;
    display: inline;
    text-align: center;
    background-image: linear-gradient(180deg, #6A36CF, var(--sky), var(--cian) );
    text-transform: uppercase;
    background-clip: text;
    color: transparent;
}