.main {
    display: grid;
    row-gap: 1rem;
}
/* ////////////////////////////////////// */
.main__section {
    width: 80%;
    margin: auto;
    padding: 1.5rem;
    border-radius: 10px;
    /* background-color: rgba(45, 46 ,51, 0.3); */
    background-color: rgba(56, 54, 207, 0.3);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -5px 0px inset;
}
.main__subtitle {
    text-align: center;
    font-size: 20px;
    color: #36C4CF;
    text-shadow: 0 0 3px #36C4CF , 0 0 7px #36C4CF;
    margin-bottom: 1rem;
}
.main__text {
    color: #ededed;
}
/* ////////////////////////////////////// */
.main__video {
    width: 80%;
    display: flex;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(224, 240, 247, 0.12) 0px 2px 4px 0px, rgba(224, 240, 247, 0.32) 0px 2px 16px 0px;
}
/* ////////////////////////////////////// */
.main__list{
    color: #ededed;
    list-style: none;
}