.slider {
    width: var(--main-width);
    max-width: var(--main-max-width);
    height: 15rem;
    margin: auto;
    position: relative;
    border-radius: var(--radius);
    box-shadow: rgba(224, 240, 247, 0.12) 0px 2px 4px 0px, rgba(224, 240, 247, 0.32) 0px 2px 16px 0px;
}
/* ////////////////////////////////////// */
.slider__images {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    border-radius: var(--radius);
    overflow: hidden;
}
.slider__product {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: translate .5s ease-out;
}
/* ////////////////////////////////////// */
.slider__arrows {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    position: absolute;
}
.slider__button {
    width: 41px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color:transparent;
}