.section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: var(--main-width);
    margin: auto;
    padding: 1.5rem;
    border-radius: var(--radius);
    box-shadow: 6px 6px 8px #c5c5c5, -6px -6px 8px #eee;
}
.section__subtitle {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.25rem;
    color: var(--sky);    
    text-transform: uppercase;
}
.section__paragraph {
    color: var(--gray);
    line-height: 1.5;
}
.section__paragraph--mod {
    text-align: center;
}
.section__list {
    color: var(--gray);
    list-style: none;
}
.section__list > li {
    margin-bottom: 1rem;
    line-height: 1.5;
}
.section__list > li:last-child {
    margin-bottom: 0;
}
@media (min-width: 550px) and (max-width: 1349px) {
    .section {
        width: 100%;
        height: 100%;
        padding: 2rem;
    }
}
@media (min-width: 1350px) {
    .section {
        width: 100%;
        height: 100%;
        padding: 3rem;
    }
}