.slider {
    width: var(--main-width);
    height: 18rem;
    margin: auto;
    border-radius: var(--radius);
    overflow: hidden;
    box-shadow: 6px 6px 8px #c5c5c5, -6px -6px 8px #eee;
}
/* ////////////////////////////////////// */
.slider__lightbox {
    width: 100%;
    height: 100dvh;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.9);
}
.slider__lightbox--hidden {
    display: none;
}
.slider__slider {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}
.slider__slider--lightbox {
    width: 80%;
    height: 40%;
    top: 30%;
    left: 10%;
    position: absolute;
    z-index: 25;
}
.slider__close {
    top: 2rem;
    right: 2rem;
    position: absolute;
    z-index: 25;
    border: none;
    background-color: transparent;
}
.slider__images {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    overflow: hidden;
    background-color: var(--white);
}
.slider__product {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: translate .5s ease-out;
}
/* ////////////////////////////////////// */
.slider__arrows {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    position: absolute;
}
.slider__button {
    width: 41px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color:transparent;
}
@media (min-width: 550px) and (max-width: 1349px) {
    .slider {
        width: 100%;
        height: 100%;
    }
    .slider__slider {
        max-width: none;
    }
    .slider__slider--lightbox {
        height: 50%;
        top: 25%;
        left: 10%;
    }
}
@media (min-width: 1350px) {
    .slider {
        width: 100%;
        height: 100%
    }
    .slider__slider {
        max-width: none;
        height: 100%;
    }
    .slider__button, .slider__close {
        cursor: pointer;
    }
    .slider__slider--lightbox {
        height: 70%;
        top: 15%;
        left: 10%;
    }
}