.video {
    width: var(--main-width);
    display: flex;
    align-items: center;
    margin: auto;
    overflow: hidden;
    border-radius: var(--radius);
    box-shadow: 6px 6px 8px #c5c5c5, -6px -6px 8px #eee;
}
@media (min-width: 550px) {
    .video{
        width: 100%;
        height: 100%;
        background-color: #000;
    }
}