.video {
    width: var(--main-width);
    display: flex;
    align-items: center;
    margin: auto;
    overflow: hidden;
    border-radius: var(--radius);
    box-shadow: 6px 8px 15px -4px rgba(38,27,27,0.74);
}
@media (min-width: 550px) {
    .video{
        width: 100%;
        height: 100%;
        background-color: #000;
    }
}