:root {
    --white: #ECECEC;
    --cian: #36C4CF;
    --sky: #3664CE;
    --gray: #2D2E33;
    --radius: 10px;
    --main-width: 80%;
    --main-max-width: 30rem;
    --main-width-desktop: 65%;
}
.container {
    height: 100dvh;
    width: 100%;
    background-color: rgb(157, 204, 248);
    background-image: radial-gradient(circle at 85% 80%, rgb(255, 255, 255) 3%, transparent 40%), radial-gradient(circle at 40% 35%, rgba(216, 209, 209, 0.808) 5%, transparent 72%), radial-gradient(circle at 13% 82%, hsl(0, 0%, 100%) 5%, transparent 52%);  
    background-blend-mode: normal, normal, normal, normal;
    font-family: "Roboto flex", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow: scroll;
}          